.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.container-header>img {
    width: 25rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(90%) contrast(101%) blur(0.1px) drop-shadow(0 0 6px blue);
}

#mushroom {
    width: 8rem;
    margin-right: 1rem;
    margin-left: 16rem;
}

#logo {
    width: 30rem;
}
