
.psi-text {
    text-shadow: 0 0 6px rgb(0, 0, 0);
}

.correct {
    text-shadow: 0 0 10px rgb(52, 250, 52);
    /* color: rgb(142, 231, 142); */
}

.incorrect {
    text-shadow: 0 0 10px rgb(255, 0, 0);
    /* color: red; */
}